<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>   
</head>
<body>

        <form action="/app/placement" class="modal-content animate"  method="get" enctype="multipart/form-data">
                
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="placement">
                    <option value=1>1</option>
                    <option value=2>2</option>
                  
                
                  </select>
                  <button type="submit" class="btn-onet" name="update" id="update1" value="" >submit</button>
  
                </div>
                </form>
    </body>
    </html>